#skipNavigation {
	margin: 0px auto; left: 0px; top: -200px; width: 100%; position: absolute; z-index: 9999;
}
#skipNavigation a {
	height: 35px; text-align: center; color: rgb(255, 255, 255); display: block; background-color: rgb(28, 128, 204);
}
#skipNavigation a:active {
	background: rgb(28, 128, 204); left: 0px; top: 200px; width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 16px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
#skipNavigation a:focus {
	background: rgb(28, 128, 204); left: 0px; top: 200px; width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 16px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
div:focus {
	
}
header:focus {
	
}
footer:focus {
	
}
section:focus {
	
}
.clearfix::after {
	height: 0px; line-height: 0; clear: both; font-size: 0px; float: none; display: block; visibility: hidden; content: "";
}
legend {
	left: -9999px; top: 0px; height: 0px; line-height: 0; text-indent: -9999em; overflow: hidden; font-size: 1px; position: absolute;
}
.blind {
	left: -9999px; top: 0px; height: 0px; line-height: 0; text-indent: -9999em; overflow: hidden; font-size: 1px; position: absolute;
}
caption {
	margin: 0px; padding: 0px; width: 0px; height: 0px; overflow: hidden; visibility: hidden;
}
table {
	width: 100%;
}
.clearb {
	clear: both;
}
.overflow_h {
	overflow: hidden;
}
.ta_center {
	text-align: center;
}
.txt_deco {
	text-decoration: underline;
}
.italic {
	font-style: italic;
}
.info_word_bold {
	font-weight: 500;
}
.ftclr_white {
	color: rgb(255, 255, 255);
}
.ftclr_black1 {
	color: rgb(10, 25, 35);
}
.ftclr_gray1 {
	color: rgb(111, 112, 114);
}
.ftclr_gray2 {
	color: rgb(142, 142, 142);
}
.ftclr_gold1 {
	color: rgb(216, 149, 33);
}
.ftclr_red1 {
	color: rgb(233, 64, 64);
}
.ftclr_orange1 {
	color: rgb(254, 109, 2);
}
.ftclr_seoul {
	color: rgb(241, 71, 58);
}
.ftclr_gwacheon {
	color: rgb(17, 84, 31);
}
.ftclr_deoksugung {
	color: rgb(209, 39, 115);
}
.ftclr_cheongju {
	color: rgb(0, 143, 203);
}
.ftclr_child {
	color: rgb(253, 184, 19);
}
.ftclr_residence {
	color: rgb(0, 128, 255);
}
.ftclr_foreign {
	color: rgb(230, 148, 26);
}
.ftclr_museum {
	color: rgb(99, 84, 171);
}
.ftclr_etc {
	color: rgb(97, 111, 112);
}
.bgclr_gray1 {
	background-color: rgb(245, 245, 245);
}
.bgclr_gray2 {
	background-color: rgb(225, 225, 225);
}
.bgclr_gray3 {
	background-color: rgb(204, 204, 204);
}
.bgclr_gray4 {
	background-color: rgb(142, 142, 142);
}
.bgclr_black1 {
	background-color: rgb(10, 25, 35);
}
.bgclr_gold1 {
	background-color: rgb(224, 172, 78);
}
.bgclr_red1 {
	background-color: rgb(233, 96, 96);
}
.bgclr_red2 {
	background-color: rgb(233, 64, 64);
}
.ftc_gc {
	color: rgb(17, 84, 31);
}
.ftc_se {
	color: rgb(241, 71, 58);
}
.bgclr_GC {
	background-color: rgb(0, 177, 112);
}
.bgclr_SU {
	background-color: rgb(241, 71, 58);
}
.bgclr_DS {
	background-color: rgb(209, 39, 115);
}
.bgclr_CJ {
	background-color: rgb(0, 143, 203);
}
.bgclr_AB {
	background-color: rgb(199, 7, 116);
}
.bgclr_RD {
	background-color: rgb(254, 109, 2);
}
.bgclr_AC {
	background-color: rgb(0, 191, 243);
}
.bgclr_KA {
	background-color: rgb(253, 184, 19);
}
.txt_icon1 {
	padding: 1px 5px; font-size: 0.81rem; display: inline-block; box-sizing: border-box;
}
.txt_icon1.bgclr_red2 {
	color: rgb(255, 255, 255);
}
.txt_icon1.bgclr_gray4 {
	color: rgb(255, 255, 255);
}
.btn_wrap {
	margin-top: 40px;
}
.btn_wrap > .left {
	width: 49%; float: left;
}
.btn_wrap > .right {
	width: 49%; float: right;
}
.btn_wrap.center {
	text-align: center;
}
.btn_wrap button.btn.block {
	width: 100%;
}
.btn_wrap .btn_size1 {
	padding: 9px 0px; box-sizing: border-box;
}
.btn.block {
	display: block;
}
.btn {
	padding: 5px 10px; font-size: 0.75rem;
}
.btn.btn_red {
	border: 1px solid rgb(233, 64, 64); border-image: none; color: rgb(255, 255, 255); background-color: rgb(233, 64, 64);
}
.btn.btn_white {
	border: 1px solid rgb(233, 64, 64); border-image: none; color: rgb(233, 64, 64); background-color: rgb(255, 255, 255);
}
.btn.btn_orange {
	border: 1px solid rgb(254, 109, 2); border-image: none; color: rgb(255, 255, 255); background-color: rgb(254, 109, 2);
}
.btn.btn_orange_empty {
	border: 1px solid rgb(254, 109, 2); border-image: none; color: rgb(254, 109, 2); background-color: rgb(255, 255, 255);
}
.btn.btn_yellow {
	border: 1px solid rgb(253, 184, 19); border-image: none; color: rgb(255, 255, 255); background-color: rgb(253, 184, 19);
}
.btn.btn_GC {
	border: 1px solid rgb(0, 177, 112); border-image: none; color: rgb(255, 255, 255); background-color: rgb(17, 84, 31);
}
.btn.btn_SU {
	border: 1px solid rgb(241, 71, 58); border-image: none; color: rgb(255, 255, 255); background-color: rgb(241, 71, 58);
}
.btn.btn_DS {
	border: 1px solid rgb(209, 39, 115); border-image: none; color: rgb(255, 255, 255); background-color: rgb(209, 39, 115);
}
.btn.btn_CJ {
	border: 1px solid rgb(0, 143, 203); border-image: none; color: rgb(255, 255, 255); background-color: rgb(0, 143, 203);
}
.btn_page_next {
	background: rgb(233, 64, 64); height: 36px; color: rgb(255, 255, 255); line-height: 36px; font-size: 0.62em; display: inline-block; position: relative; min-width: 144px;
}
.btn_page_next span {
	display: inline-block;
}
.btn_page_next span::after {
	background: url("../images/common/view_next_on.png") no-repeat 0% 0% / 100%; top: 16px; width: 12px; height: 5px; right: 15px; display: inline-block; position: absolute; content: "";
}
.btn_fold {
	background: rgb(21, 21, 21); padding: 15px 0px; text-align: center;
}
.btn_fold .btn_red {
	padding: 10px 40px; position: relative;
}
.arr_right_red {
	color: rgb(233, 64, 64); border-bottom-color: rgb(233, 64, 64); border-bottom-width: 1px; border-bottom-style: solid;
}
.arr_right_red::after {
	background: url("../images/common/is_ico@x2.png") no-repeat -140px 0px / 320px auto; width: 12px; height: 5px; margin-left: 10px; display: inline-block; content: "";
}
.arr_right_orange {
	color: rgb(254, 109, 2); border-bottom-color: rgb(254, 109, 2); border-bottom-width: 1px; border-bottom-style: solid;
}
.arr_right_orange::after {
	background: url("../images/common/arr_right_orange.png") no-repeat 0px 0px; width: 17px; height: 9px; margin-left: 10px; display: inline-block; content: "";
}
.link_right_red {
	color: rgb(233, 64, 64); border-bottom-color: rgb(233, 64, 64); border-bottom-width: 1px; border-bottom-style: solid;
}
.link_right_red::after {
	background: url("../images/common/is_ico@x2.png") no-repeat -184px 0px / 320px auto; width: 10px; height: 10px; margin-left: 10px; display: inline-block; content: "";
}
.arr_left_grey {
	color: rgb(111, 112, 114); border-bottom-color: rgb(111, 112, 114); border-bottom-width: 1px; border-bottom-style: solid;
}
.arr_left_grey::before {
	background: url("../images/common/ico_backto.png") no-repeat 0px 0px; width: 23px; height: 9px; padding-right: 8px; display: inline-block; content: "";
}
.arr_right_grey {
	color: rgb(111, 112, 114); border-bottom-color: rgb(111, 112, 114); border-bottom-width: 1px; border-bottom-style: solid;
}
.arr_right_grey::after {
	background: url("../images/common/ico_backto.png") no-repeat 0px 0px; width: 23px; height: 9px; padding-right: 8px; display: inline-block; content: ""; transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.arr_bottom_red {
	color: rgb(233, 64, 64); border-bottom-color: rgb(233, 64, 64); border-bottom-width: 1px; border-bottom-style: solid;
}
.arr_bottom_red::after {
	background: url("../images/common/arr_down2.png") no-repeat 0px 0px / 7px auto; top: 2px; width: 7px; height: 13px; margin-left: 10px; display: inline-block; position: relative; content: "";
}
.link_page_black {
	color: rgb(10, 25, 35); border-bottom-color: rgb(10, 25, 35); border-bottom-width: 1px; border-bottom-style: solid;
}
.link_page_black::after {
	background: url("../images/common/ico_page_gray.png") no-repeat 0px 0px / 12px auto; top: 3px; width: 12px; height: 16px; margin-left: 10px; display: inline-block; position: relative; content: "";
}
.btn_open {
	padding-right: 22px; padding-bottom: 1px; font-size: 0.75rem; border-bottom-color: rgb(233, 64, 64); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; position: relative;
}
.btn_open .open_arr_red {
	background: url("../images/common/icon_select.png") no-repeat center; transition:0.5s; top: 50%; width: 17px; height: 7px; right: 0px; text-indent: -9999em; overflow: hidden; margin-top: -3px; display: block; position: absolute; -webkit-transition: 0.5s;
}
.btn_open:hover {
	text-decoration: none;
}
.btn_open:focus {
	text-decoration: none;
}
.btn_open.on .open_arr_red {
	transform: rotate(-180deg);
}
.choice_wrap {
	line-height: 1.4; display: inline-block; position: relative; -ms-zoom: 1;
}
.choice_wrap.block {
	display: block;
}
.choice_wrap input[type=radio].design {
	left: 1px; top: 4px; position: absolute; z-index: -1;
}
.choice_wrap input[type=checkbox].design {
	left: 1px; top: 4px; position: absolute; z-index: -1;
}
.choice_wrap input[type=radio].design:focus + label::after {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; content: "";
}
.choice_wrap input[type=checkbox].design:focus + label::after {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; content: "";
}
.choice_wrap input[type=radio].design:focus + label {
	border-color: rgb(113, 158, 206); box-shadow: 0px 0px 10px #719ece;
}
.choice_wrap input[type=checkbox].design:focus + label {
	border-color: rgb(113, 158, 206); box-shadow: 0px 0px 10px #719ece;
}
.choice_wrap input[type=radio].design + label {
	line-height: 1.4; padding-left: 25px; font-size: 0.81rem; vertical-align: middle; display: inline-block; position: relative; z-index: 1; cursor: pointer; min-height: 18px; box-sizing: border-box;
}
.choice_wrap input[type=checkbox].design + label {
	line-height: 1.4; padding-left: 25px; font-size: 0.81rem; vertical-align: middle; display: inline-block; position: relative; z-index: 1; cursor: pointer; min-height: 18px; box-sizing: border-box;
}
.choice_wrap input[type=radio].design + label::before {
	border: 5px solid rgb(235, 235, 235); border-image: none; left: 0px; top: 0px; width: 18px; height: 18px; display: inline-block; position: absolute; content: ""; box-sizing: border-box; background-color: rgb(235, 235, 235);
}
.choice_wrap input[type=checkbox].design + label::before {
	border: 5px solid rgb(235, 235, 235); border-image: none; left: 0px; top: 0px; width: 18px; height: 18px; display: inline-block; position: absolute; content: ""; box-sizing: border-box; background-color: rgb(235, 235, 235);
}
.choice_wrap input[type=radio]:checked.design + label::before {
	border-color: rgb(10, 25, 35); background-color: rgb(255, 255, 255);
}
.choice_wrap input[type=checkbox]:checked.design + label::before {
	border-color: rgb(10, 25, 35); background-color: rgb(255, 255, 255);
}
.choice_wrap input[type=radio].design.design_grey + label {
	color: rgb(111, 112, 114); font-size: 0.75em;
}
.choice_wrap input[type=checkbox].design.design_grey + label {
	color: rgb(111, 112, 114); font-size: 0.75em;
}
.choice_wrap input[type=radio].design.design_grey:focus + label {
	border-color: rgb(113, 158, 206); box-shadow: 0px 0px 10px #719ece;
}
.choice_wrap input[type=checkbox].design.design_grey:focus + label {
	border-color: rgb(113, 158, 206); box-shadow: 0px 0px 10px #719ece;
}
.choice_wrap input[type=checkbox]:checked.design.design_grey + label::before {
	border: 1px solid rgb(111, 112, 114); border-image: none;
}
.choice_wrap input[type=radio]:checked.design.design_grey + label::before {
	border: 1px solid rgb(111, 112, 114); border-image: none;
}
.choice_wrap input[type=checkbox].design.design_grey + label::before {
	border: 1px solid rgb(111, 112, 114); border-image: none; background-color: rgb(255, 255, 255);
}
.choice_wrap input[type=radio].design.design_grey + label::before {
	border: 1px solid rgb(111, 112, 114); border-image: none; background-color: rgb(255, 255, 255);
}
.choice_wrap input[type=checkbox]:checked.design.design_grey + label::after {
	left: 4px; top: 4px; width: 10px; height: 10px; position: absolute; content: ""; box-sizing: border-box; background-color: rgb(111, 112, 114);
}
.choice_wrap input[type=radio]:checked.design.design_grey + label::after {
	left: 4px; top: 4px; width: 10px; height: 10px; position: absolute; content: ""; box-sizing: border-box; background-color: rgb(111, 112, 114);
}
.choice_wrap input[type=radio]:checked.design.design_grey + label::before {
	border-radius: 100%;
}
.choice_wrap input[type=radio].design.design_grey + label::before {
	border-radius: 100%;
}
.choice_wrap input[type=radio]:checked.design.design_grey + label::after {
	border-radius: 100%;
}
table .choice_wrap input[type=radio].design.design_grey + label {
	font-size: 1em;
}
table .choice_wrap input[type=checkbox].design.design_grey + label {
	font-size: 1em;
}
.choice_wrap input[type=radio]:checked.design.design_orange + label::before {
	border-color: rgb(254, 109, 2);
}
.choice_wrap input[type=checkbox]:checked.design.design_orange + label::before {
	border-color: rgb(254, 109, 2);
}
.input_box {
	border: 1px solid rgb(204, 212, 220); transition:0.3s ease-in-out; border-image: none; height: 30px; padding-top: 0px; display: inline-block; position: relative; box-sizing: border-box; background-color: rgb(255, 255, 255); -webkit-transition: .3s ease-in-out;
}
.input_box.block {
	display: block;
}
.input_box.m_block {
	display: block;
}
.input_box.bor_none {
	border: 0px currentColor; border-image: none;
}
.input_box.imp {
	border-color: rgb(246, 128, 38);
}
.input_box * {
	vertical-align: middle;
}
.input_box .input_wrap {
	padding: 0px 0px 0px 10px; height: 100%; display: block;
}
.input_box .input_wrap.center {
	padding-left: 0px;
}
.input_box .input_wrap.center input {
	text-align: center;
}
.input_box .input_wrap input[type=text] {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 27px; color: rgb(96, 96, 96); line-height: 27px; font-size: 0.87em; vertical-align: middle;
}
.input_box .input_wrap input[type=file] {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 27px; color: rgb(96, 96, 96); line-height: 27px; font-size: 0.87em; vertical-align: middle;
}
.input_box .input_wrap input[type=password] {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 27px; color: rgb(96, 96, 96); line-height: 27px; font-size: 0.87em; vertical-align: middle;
}
.input_box .input_wrap input[type=date] {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 27px; color: rgb(96, 96, 96); line-height: 27px; font-size: 0.87em; vertical-align: middle;
}
.input_box .input_wrap input[type=time] {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 27px; color: rgb(96, 96, 96); line-height: 27px; font-size: 0.87em; vertical-align: middle;
}
.input_box.disabled {
	border-color: rgb(204, 204, 204) !important; position: relative; background-color: rgb(237, 237, 238);
}
.input_box input[disabled] {
	background: rgb(237, 237, 238); color: rgb(182, 182, 182);
}
.input_box.calendar {
	background: url("../images/common/bg_date.png") no-repeat 92%; cursor: pointer;
}
.input_box.calendar .input_wrap {
	
}
.input_box.calendar.disabled {
	background: url("../images/common/bg_date.png") no-repeat 92% rgb(237, 237, 238);
}
.input_box.calendar input {
	cursor: pointer;
}
.input_box.calendar input[disabled] {
	background: none !important;
}
.reset_input {
	position: relative;
}
.reset_input .input_wrap {
	margin-right: 30px;
}
.reset_input .sch_reset {
	top: -1px; width: 30px; height: 30px; right: -1px; position: absolute;
}
.input_box.block.input_file {
	margin-right: 70px;
}
.filebox {
	display: block;
}
.filebox input[type='file'] {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.filebox label {
	padding: 0px; top: -1px; width: 60px; height: 30px; text-align: center; right: -70px; color: rgb(255, 255, 255); line-height: 30px; display: block; position: absolute; cursor: pointer; background-color: rgb(145, 156, 182);
}
.filebox .upload_name {
	border-width: 1px; border-style: solid; border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgb(226, 226, 226); padding: 0.5em 0.75em; border-radius: 0.25em; border-image: none; line-height: normal; font-family: inherit; font-size: inherit; vertical-align: middle; display: block; background-color: rgb(245, 245, 245); -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
.select_box {
	border: 1px solid rgb(204, 212, 220); border-image: none; height: 30px; text-align: left; font-size: 0.87rem; display: inline-block; position: relative; box-sizing: border-box;
}
.select_box.block {
	display: block;
}
.select_box.m_block {
	display: block;
}
.select_box select {
	width: 100%; height: 100%; padding-right: 20px;
}
.select_box::after {
	background: url("../images/common/icon_select_small.png") no-repeat center; top: 50%; right: 0px; display: block; position: absolute; z-index: 0; min-height: 18px; min-width: 18px; content: ""; transform: translateY(-50%);
}
.textarea_box {
	border: 1px solid rgb(228, 228, 228); border-image: none; display: inline-block; background-color: rgb(255, 255, 255);
}
.textarea_box.block {
	display: block;
}
.textarea_box .textarea_wrap {
	margin: 10px; display: block;
}
.textarea_box .textarea_wrap textarea {
	border: 0px currentColor; border-image: none; width: 100%; height: 100%; color: rgb(96, 96, 96); line-height: 1.6; font-size: 1em; -ms-word-break: break-all; resize: none;
}
.textarea_box.disabled {
	background: rgb(237, 237, 238) !important; border-color: rgb(204, 204, 204) !important;
}
.textarea_box .textarea_wrap textarea[disabled] {
	background: rgb(237, 237, 238) !important;
}
.cscon {
	text-indent: -9999em; overflow: hidden; display: block; position: relative;
}
.cscon.csc_arrow1 {
	width: 12px; height: 8px;
}
.svg .imgpng {
	display: none;
}
.no-svg .imgsvg {
	display: none;
}
.no-svg .imgpng {
	display: inline;
}
.is_ico {
	line-height: 0; text-indent: -9999em; overflow: hidden; font-family: "dotum;","µ¸¿ò"; font-size: 0px; margin-top: -2px; vertical-align: middle; display: inline-block;
}
.inc_ico {
	line-height: 0; text-indent: -9999em; overflow: hidden; font-family: "dotum;","µ¸¿ò"; font-size: 0px; margin-top: -2px; vertical-align: middle; display: inline-block;
}
.is_ico {
	background: url("../images/common/is_ico@x2.png") no-repeat 0px 0px / 320px auto;
}
.inc_ico {
	background: url("../images/common/is_inc@x2.png") no-repeat 0px 0px / 130px auto;
}
.is_ico.isi_list_prev {
	background-position: 0px 0px; width: 13px; height: 5px;
}
.is_ico.isi_list_next {
	background-position: 0px -7px; width: 13px; height: 5px;
}
.is_ico.isi_facebook {
	background-position: -13px 0px; width: 7px; height: 12px;
}
.is_ico.isi_twitter {
	background-position: -22px 0px; width: 13px; height: 10px;
}
.is_ico.isi_instar {
	background-position: -37px 0px; width: 12px; height: 12px;
}
.is_ico.isi_navertv {
	background-position: -50px 0px; width: 11px; height: 12px;
}
.is_ico.isi_youtube {
	background-position: -63px 0px; width: 15px; height: 15px;
}
.is_ico.isi_home {
	background-position: -77px 0px; width: 10px; height: 8px;
}
.is_ico.isi_zoom {
	background-position: -89px 0px; width: 16px; height: 16px;
}
.is_ico.isi_keyboard {
	background-position: -108px 0px; width: 22px; height: 10px;
}
.is_ico.isi_seoul {
	background-position: 0px -17px; width: 16.5px; height: 27.5px;
}
.is_ico.isi_gwacheon {
	background-position: -18px -17px; width: 16.5px; height: 27.5px;
}
.is_ico.isi_deoksugung {
	background-position: 0px -47px; width: 16.5px; height: 27.5px;
}
.is_ico.isi_cheongju {
	background-position: 0px -47px; width: 16.5px; height: 27.5px;
}
.is_ico.isi_child {
	background-position: -18px -47px; width: 16.5px; height: 27.5px;
}
.is_ico.isi_more {
	background-position: -131px 0px; width: 8px; height: 4px;
}
.is_ico.isi_view_more {
	background-position: -153px 0px; width: 15px; height: 15px;
}
.is_ico.isi_basket {
	background-position: -169px 0px; width: 14px; height: 12px;
}
.is_ico.isi_close1 {
	background-position: -196px 0px; width: 10px; height: 10px;
}
.is_ico.isi_finding {
	background-position: -36px -16px; width: 37px; height: 23px;
}
.is_ico.isi_file_orange {
	background-position: -75px -16px; width: 20px; height: 19px;
}
.is_ico.isi_more_plus {
	background-position: -208px 0px; width: 11px; height: 11px;
}
.is_ico.isi_gift {
	background-position: -220px 0px; width: 11px; height: 11px;
}
.is_ico.isi_benefit {
	background-position: -232px 0px; width: 11px; height: 11px;
}
.is_ico.isi_arr_white {
	background-position: -245px 0px; width: 11.5px; height: 5px;
}
.is_ico.isi_credit {
	background-position: -257px 0px; width: 16px; height: 11px;
}
.is_ico.isi_giftbox {
	background-position: -274px 0px; width: 15px; height: 15px;
}
.is_ico.isi_viewart {
	background-position: -290px 0px; width: 20px; height: 17px;
}
.is_ico.isi_viefilm {
	background-position: -95px -16px; width: 16px; height: 19px;
}
.is_ico.isi_map {
	background-position: -115px -16px; width: 8px; height: 12px;
}
.inc_ico.isi_search1 {
	background-position: 0px 0px; width: 17px; height: 17px;
}
.ico_delete {
	background: url("../images/common/ico_delete.png") no-repeat 0px 0px / 100% 100%; width: 9px; height: 9px; display: inline-block;
}
.ico_eye {
	background: url("../images/common/ico_eye_m.png") no-repeat 0px 0px / 100% 100%; width: 15px; height: 8px; margin-right: 5px; display: inline-block;
}
.ico_goto {
	background: url("../images/common/view_next_off.png") no-repeat right / 100% 100%; top: 50%; width: 23px; height: 9px; right: 15px; margin-top: -4.5px; position: absolute;
}
.imgexpend img {
	max-width: 100%;
}
.s320 {
	display: block;
}
.le-s768 {
	display: block;
}
.le-s1024 {
	display: block;
}
.s768 {
	display: none;
}
.s1024 {
	display: none;
}
.s1200 {
	display: none;
}
.s1400 {
	display: none;
}
.ge-s768 {
	display: none;
}
.ge-s1024 {
	display: none;
}
.ge-s1200 {
	display: none;
}
.tbl-tr-s320 {
	display: table-row;
}
.tbl-tr-le-s768 {
	display: table-row;
}
.tbl-tr-le-s1200 {
	display: table-row;
}
.tbl-tr-s768 {
	display: none;
}
.tbl-tr-s1200 {
	display: none;
}
.tbl-tr-s1400 {
	display: none;
}
.tbl-tr-ge-s768 {
	display: none;
}
.tbl-tr-ge-s1200 {
	display: none;
}
.tb_cell {
	display: none;
}
.btn-cl-s768 {
	display: none !important;
}
.btn-cell-s768 {
	display: none !important;
}
.mgt35 {
	margin-top: 35px !important;
}
.imp_mgt0 {
	margin-top: 0px !important;
}
.w60 {
	width: 60%;
}
@media all and (min-width:768px)
{
.btn_wrap.center {
	text-align: center;
}
.btn_wrap.center > .left {
	width: auto; float: none; display: inline-block; min-width: 30%;
}
.btn_wrap.center > .right {
	width: auto; float: none; display: inline-block; min-width: 30%;
}
.btn_wrap.center > div + div {
	margin-left: 10px;
}
.is_ico.icon_up {
	background-image: url("../images/common/is_ico.png"); background-size: auto;
}
.inc_ico.icon_up {
	background: url("../images/common/is_inc.png");
}
.is_ico.icon_up.isi_list_prev {
	background-position: 0px 0px; width: 23px; height: 9px;
}
.is_ico.icon_up.isi_list_next {
	background-position: 0px -11px; width: 23px; height: 9px;
}
.s320 {
	display: none;
}
.ge-s1024 {
	display: none;
}
.ge-s1200 {
	display: none;
}
.le-s768 {
	display: block;
}
.le-s1024 {
	display: block;
}
.ge-s768 {
	display: block;
}
.tbl-tr-s320 {
	display: none;
}
.tbl-tr-ge-s1200 {
	display: none;
}
.tbl-tr-le-s768 {
	display: table-row;
}
.tbl-tr-ge-s768 {
	display: table-row;
}
.d_b_onlymobile {
	vertical-align: middle; display: inline-block;
}
.btn_pos .paging {
	padding: 6px 0px;
}
.btn_pos .pos_left {
	margin: 0px; top: 0px; width: auto; position: absolute;
}
.btn_pos .pos_right {
	margin: 0px; top: 0px; width: auto; position: absolute;
}
.btn_pos .pos_left {
	left: 0px;
}
.btn_pos .pos_right {
	right: 0px;
}
.btn_ud_ctrl {
	display: inline;
}
.btn_open {
	font-size: 0.87rem;
}
.choice_wrap input[type=radio].design + label {
	padding: 4px 0px 4px 45px; font-size: 0.87rem; min-height: 30px;
}
.choice_wrap input[type=checkbox].design + label {
	padding: 4px 0px 4px 45px; font-size: 0.87rem; min-height: 30px;
}
.choice_wrap input[type=radio].design + label::before {
	border: 9px solid rgb(235, 235, 235); border-image: none; width: 30px; height: 30px; display: inline-block; background-color: rgb(235, 235, 235);
}
.choice_wrap input[type=checkbox].design + label::before {
	border: 9px solid rgb(235, 235, 235); border-image: none; width: 30px; height: 30px; display: inline-block; background-color: rgb(235, 235, 235);
}
.choice_wrap input[type=checkbox]:checked.design.design_grey + label::after {
	left: 4px; top: 4px; width: 12px; height: 12px;
}
.choice_wrap input[type=radio]:checked.design.design_grey + label::after {
	left: 4px; top: 4px; width: 12px; height: 12px;
}
.choice_wrap input[type=radio].design.design_grey + label::before {
	width: 20px; height: 20px; min-height: 20px;
}
.choice_wrap input[type=checkbox].design.design_grey + label::before {
	width: 20px; height: 20px; min-height: 20px;
}
.choice_wrap input[type=radio].design.design_grey + label {
	padding: 0px 0px 0px 30px;
}
.choice_wrap input[type=checkbox].design.design_grey + label {
	padding: 0px 0px 0px 30px;
}
.input_box {
	height: 38px;
}
.input_box.m_block {
	display: inline-block;
}
.input_box .input_wrap input[type=text] {
	height: 37px; line-height: 37px;
}
.input_box .input_wrap input[type=file] {
	height: 37px; line-height: 37px;
}
.input_box .input_wrap input[type=password] {
	height: 37px; line-height: 37px;
}
.input_box .input_wrap input[type=date] {
	height: 37px; line-height: 37px;
}
.input_box .input_wrap input[type=time] {
	height: 37px; line-height: 37px;
}
.reset_input .input_wrap {
	margin-right: 40px;
}
.reset_input .sch_reset {
	top: -1px; width: 40px; height: 40px; right: -1px; position: absolute;
}
.input_box.block.input_file {
	margin-right: 110px;
}
.filebox label {
	width: 100px; height: 40px; right: -110px; line-height: 40px;
}
.select_box {
	border: 1px solid rgb(204, 212, 220); border-image: none; height: 30px; text-align: left; font-size: 0.87rem; display: inline-block; position: relative; box-sizing: border-box;
}
.select_box.m_block {
	display: inline-block;
}
.select_box select {
	padding-right: 30px; padding-left: 0px;
}
.select_box::after {
	min-height: 30px; min-width: 30px;
}
}
@media all and (min-width:1024px)
{
caption {
	top: 0px; height: 0px; line-height: 0; text-indent: -9999em; overflow: hidden; font-size: 1px; visibility: visible; position: absolute;
}
.btn_wrap.center > .left {
	min-width: auto;
}
.btn_wrap.center > .right {
	min-width: auto;
}
.btn_wrap.center > .max_260 {
	width: 260px;
}
.btn_wrap .btn_size1 {
	padding: 22px 0px;
}
.btn_fold {
	padding: 20px 0px;
}
.btn_fold .btn_red {
	padding: 10px 70px;
}
.txt_icon1 {
	padding: 2px 5px; font-size: 0.87rem; display: inline-block;
}
.is_ico {
	background-image: url("../images/common/is_ico.png"); background-size: auto;
}
.inc_ico {
	background: url("../images/common/is_inc.png");
}
.is_ico.isi_list_prev {
	background-position: 0px 0px; width: 23px; height: 9px;
}
.is_ico.isi_list_next {
	background-position: 0px -11px; width: 23px; height: 9px;
}
.is_ico.isi_facebook {
	background-position: -27px 0px; width: 9px; height: 16px;
}
.is_ico.isi_twitter {
	background-position: -40px 0px; width: 18px; height: 14px;
}
.is_ico.isi_instar {
	background-position: -62px 0px; width: 16px; height: 16px;
}
.is_ico.isi_navertv {
	background-position: -82px 0px; width: 14px; height: 16px;
}
.is_ico.isi_youtube {
	background-position: -100px 0px; width: 24px; height: 28px;
}
.hover_black:hover .is_ico.isi_facebook {
	background-position: -128px 0px;
}
.hover_black:focus .is_ico.isi_facebook {
	background-position: -128px 0px;
}
.hover_black:hover .is_ico.isi_twitter {
	background-position: -141px 0px;
}
.hover_black:focus .is_ico.isi_twitter {
	background-position: -141px 0px;
}
.hover_black:hover .is_ico.isi_instar {
	background-position: -163px 0px;
}
.hover_black:focus .is_ico.isi_instar {
	background-position: -163px 0px;
}
.hover_black:hover .is_ico.isi_navertv {
	background-position: -183px 0px;
}
.hover_black:focus .is_ico.isi_navertv {
	background-position: -183px 0px;
}
.hover_black:hover .is_ico.isi_youtube {
	background-position: -201px 0px;
}
.hover_black:focus .is_ico.isi_youtube {
	background-position: -201px 0px;
}
.is_ico.isi_home {
	background-position: -229px 0px; width: 15px; height: 14px;
}
.is_ico.isi_zoom {
	background-position: -248px 0px; width: 31px; height: 31px;
}
.is_ico.isi_keyboard {
	background-position: -283px -1px; width: 34px; height: 14px;
}
.is_ico.isi_seoul {
	background-position: 0px -32px; width: 33px; height: 55px;
}
.is_ico.isi_gwacheon {
	background-position: -36px -32px; width: 33px; height: 55px;
}
.is_ico.isi_deoksugung {
	background-position: 0px -91px; width: 33px; height: 55px;
}
.is_ico.isi_cheongju {
	background-position: 0px -91px; width: 33px; height: 55px;
}
.is_ico.isi_child {
	background-position: -36px -91px; width: 33px; height: 55px;
}
.is_ico.isi_view_more {
	background-position: -96px -32px; width: 24px; height: 24px;
}
.is_ico.isi_basket {
	background-position: -123px -32px; width: 28px; height: 23px;
}
.is_ico.isi_close1 {
	background-position: -72px -45px; width: 13px; height: 13px;
}
.is_ico.isi_finding {
	background-position: -165px -32px; width: 60px; height: 37px;
}
.is_ico.isi_file_orange {
	background-position: -227px -32px; width: 26px; height: 24px;
}
.is_ico.isi_more_plus {
	background-position: -256px -32px; width: 15px; height: 15px;
}
.is_ico.isi_gift {
	background-position: -272px -32px; width: 22px; height: 22px;
}
.is_ico.isi_benefit {
	background-position: -296px -32px; width: 22px; height: 22px;
}
.is_ico.isi_arr_white {
	background-position: -283px -19px; width: 23px; height: 10px;
}
.is_ico.isi_credit {
	background-position: -72px -69px; width: 32px; height: 22px;
}
.is_ico.isi_giftbox {
	background-position: -72px -87px; width: 30px; height: 30px;
}
.is_ico.isi_viewart {
	background-position: -104px -87px; width: 27px; height: 22px;
}
.is_ico.isi_viefilm {
	background-position: -132px -87px; width: 22px; height: 22px;
}
.is_ico.isi_map {
	background-position: -156px -87px; width: 15px; height: 22px;
}
.inc_ico.isi_search1 {
	background-position: 0px 0px; width: 18px; height: 19px;
}
.btnsM {
	padding: 21px 72px; width: auto; text-align: center; line-height: 1; display: inline-block; min-height: 60px; min-width: 200px; box-sizing: border-box;
}
.btnsM > span {
	font-size: 0.87em;
}
.btn {
	padding: 10px 15px; font-size: 1em;
}
.btn_wrap {
	margin-top: 40px;
}
.btn_wrap.topline {
	padding-top: 40px; margin-top: 40px; border-top-color: rgb(241, 241, 241); border-top-width: 2px; border-top-style: solid;
}
.link_right_red::after {
	background: url("../images/common/is_ico.png") -154px -32px; width: 9px; height: 9px; display: inline-block;
}
.gallery_list + .paging {
	margin-top: 40px;
}
.paging span {
	border-width: 2px; width: 28px; height: 28px; line-height: 28px; font-size: 0.81rem;
}
.paging a {
	border-width: 2px; width: 28px; height: 28px; line-height: 28px; font-size: 0.81rem;
}
.upload_list > li {
	padding: 0px 46px 0px 18px; height: 40px; line-height: 40px;
}
.s768 {
	display: none;
}
.le-s768 {
	display: none;
}
.le-s1024 {
	display: none;
}
.ge-s1024 {
	display: block;
}
.ge-s1200 {
	display: block;
}
.tbl-tr-s768 {
	display: none;
}
.tbl-tr-le-s768 {
	display: none;
}
.tbl-tr-ge-s1200 {
	display: table-row;
}
.tb_cell {
	display: table-column;
}
.btn-cl-s768 {
	display: inline-block !important;
}
.ilb-s1200 {
	display: inline-block !important;
}
.btn-cell-s768 {
	display: table-cell !important;
}
.choice_wrap input[type=radio].design.design_grey:focus + label {
	border-color: rgb(113, 158, 206); box-shadow: 0px 0px 10px #719ece;
}
.choice_wrap input[type=checkbox].design.design_grey:focus + label {
	border-color: rgb(113, 158, 206); box-shadow: 0px 0px 10px #719ece;
}
.choice_wrap input[type=radio].design.design_grey + label {
	line-height: 1.2; font-size: 1em;
}
.choice_wrap input[type=checkbox].design.design_grey + label {
	line-height: 1.2; font-size: 1em;
}
.choice_wrap input[type=radio].design.design_grey + label::before {
	
}
.choice_wrap input[type=checkbox].design.design_grey + label::before {
	
}
.choice_wrap input[type=checkbox]:checked.design.design_grey + label::after {
	top: 4px;
}
.choice_wrap input[type=radio]:checked.design.design_grey + label::after {
	top: 4px;
}
.btn_ud_ctrl > a {
	padding-right: 14px;
}
.arr_right_red::after {
	background: url("../images/common/is_ico.png") no-repeat -72px -32px / auto auto; width: 23px; height: 9px;
}
.arr_bottom_red::after {
	top: 2px; width: 9px; height: 17px; margin-left: 20px; background-size: auto;
}
.link_page_black::after {
	top: 3px; width: 15px; height: 20px; margin-left: 20px; position: relative; background-size: auto;
}
}
.trns {
	transition:0.3s ease-in-out; -webkit-transition: .3s ease-in-out;
}
.wa_signimg {
	text-align: center;
}
.wa_signimg img {
	max-width: 100%;
}
